.about {
    padding: 2rem;
    height: 100vh;
    color: var(--color-secondary);
    font-family: "Playfair Display", serif;

}

.header--desc {
    margin: 2.5rem;
}

.unauth {
    height: 20rem;
    width: 40rem;
    margin: 5rem auto;

}


.unauth p {
    margin-top: 1rem;
}


@media (max-width:1536px) {

    .header--desc {
        margin: 2.5rem;
        font-size: 16px;
    }

    .unauth {
        height: 20rem;
        width: 55rem;
        margin: 0 auto;
    }


    .unauth p {
        font-size: 14px;
        margin-top: 2rem;
        line-height: 2rem;
    }
}

@media (max-width:1280px) {

    .header--desc {
        margin: 2.5rem;
        font-size: 16px;
    }

    .unauth {
        height: 20rem;
        width: 45rem;
        margin: 0 auto;

    }


    .unauth p {
        font-size: 14px;
        margin-top: 2rem;
    }
}

@media (max-width:1024px) {

    .header--desc {
        margin: 1.5rem;
        font-size: 14px;
    }

    .unauth {
        height: 20rem;
        width: 40rem;
        margin: 0 auto;

    }


    .unauth p {
        font-size: 12px;
        margin-top: 2rem;
    }
}

@media (max-width:768px) {

    .header--desc {
        margin: 1.5rem;
        font-size: 12px;
    }

    .unauth {
        height: 20rem;
        width: 30rem;
        margin: 0 auto;

    }


    .unauth p {
        font-size: 10px;
    }
}

@media (max-width:640px) {

    .header--desc {
        margin: 1.5rem;
        font-size: 10px;
    }

    .unauth {
        height: 20rem;
        width: 24rem;
        margin: 0 auto;

    }


    .unauth p {
        font-size: 8px;
    }
}