.body {
    display: flex;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.body--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-left: 12rem;
}

.body--card p {
    margin-block: 1rem;
}

.body--card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.acc-btns {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    font-size: 10px;
    margin-top: 5px;
    width: 4rem;
    height: 1.5rem;
    border-radius: 2px;
    margin-right: 5px;
    box-shadow: 1px 1px 10px var(--color-secondary);
}

.acc-btns:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
}



.body--nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    justify-content: space-evenly;
    width: 14rem;
}

.body--list {
    margin: 2rem 0 2rem 14rem;
    display: flex;
    flex-direction: column;

}



.body--items {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 3rem;
    margin-left: 6rem;
}

.body--item {
    background-color: var(--color-accent);
    width: 10rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 5px;
    text-overflow: ellipsis;

}

.body--item--head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.body--item--head h4 {
    text-transform: capitalize;
}

.body--item button {
    font-size: 10px;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.body--item i {
    font-size: 0.8rem;
}


.btn--edit {
    font-size: 10px;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateX(3rem) translateY(0.5rem);
}

.btn--edit:hover {
    background-color: var(--color-accent);
    color: #000;
}


.body--item p {
    margin-left: 0.5rem;
    line-height: 20px;
    height: 85%;
    overflow: hidden;
    font-size: 12px;
    margin-top: 0.3rem;
}

.body--item {
    margin-inline: 0 4rem;
}

.item--date {
    font-size: 10px;
}

@media (max-width:1285px) {
    .body--items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 3rem;
        margin-left: 10rem;
    }
}

@media (max-width:1165px) {
    .body--items {
        margin-left: 4rem;
    }
}

@media (max-width:1050px) {
    .body--items {
        margin-left: 2rem;
    }
}

@media (max-width:1020px) {
    .body--items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 2rem;
        margin-left: 2rem;
    }
}

@media (max-width:850px) {
    .body--items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 6rem;
    }
}


@media (max-width:700px) {


    .body--items {
        margin-left: 4rem;
    }

    .body--list {
        margin-left: 10rem;
        font-size: 10px;
    }
}