.edit {
    width: 25rem;
    height: 30rem;
    background-color: var(--color-primary);
    position: absolute;
    z-index: 100;
    top: 8rem;
    right: 35%;
    border-radius: 5px;

}


.edit--top {
    height: 5rem;
    background-color: var(--color-accent);
    border-bottom: 2px solid var(--color-secondary);
    border-radius: 5px 5px 0 0;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.edit--top div {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}


.edit--top button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    margin-right: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.edit--state button {
    width: 2.5rem;
    font-size: 10px;
    background-color: var(--color-accent);
}

.edit--btm {
    padding: 0.8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}


.edit--btm--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.edit--form {
    width: 20rem;
    margin: 0 auto;
    margin-top: 0.8rem;
}

.noteTitle {
    margin-top: 0.2rem;
    height: 2rem;
    outline: none;
    border: none;
    width: 20rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    background-color: var(--color-accent);
    resize: none;
    font-weight: 700;

}

.noteContect {
    margin-top: 0.1rem;
    height: 16rem;
    outline: none;
    border: none;
    width: 20rem;
    padding: 1rem;
    background-color: var(--color-accent);
    resize: none;

}


textarea:invalid {
    border: 1px dotted var(--color-secondary);
}


.form--preview {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.form--preview h3 {
    margin-block-end: 1rem;
    font-size: 14px;
}

.form--preview p {
    margin-top: 0.5rem;
    margin-left: 1rem;
    word-wrap: break-word;
}

form ::placeholder {
    opacity: 0.6;
}

.edit--controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.edit--controls button {
    width: 3rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0 0 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    color: var(--color-secondary);
    box-shadow: 1px 1px 5px var(--color-secondary);
}

.edit--controls button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.edit--state button:focus {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

@media (max-width:780px) {
    .edit {
        right: 20%;
    }
}