.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5rem;
    width: 12rem;
    font-size: 10px;
    margin: 0 0 0.5rem 0;
}

.footer--icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
    justify-content: space-evenly;
    font-size: 12px;

}

.footer--icons i {
    color: var(--color-secondary);
    text-decoration: none;
}

.footer p {
    margin: 0 1rem;
    font-size: 10px;
    display: flex;
}