.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    width: 12rem;
    font-size: 10px;
    margin: 0 0 1rem 0;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.footer--icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
    justify-content: space-evenly;
    font-size: 12px;

}

.footer--icons i {
    color: var(--color-secondary);
    text-decoration: none;
}

.footer p {
    margin: 0 1rem;
    font-size: 10px;
    display: flex;
}


@media (max-width:1536px) {

    .footer {

        font-size: 8px;
        left: 1rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 16px;

    }

    .footer--icons i {
        margin: 0 0.5rem;
    }

    .footer p {
        font-size: 10px;
    }
}

@media (max-width:1280px) {
    .footer {

        font-size: 8px;
        left: 1rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 14px;

    }

    .footer--icons i {
        margin: 0 0.5rem;
    }

    .footer p {
        font-size: 10px;
    }
}

@media (max-width:1024px) {

    .footer {

        font-size: 8px;
        left: 1rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 10px;

    }

    .footer--icons i {
        margin: 0 0.5rem;
    }

    .footer p {
        font-size: 8px;
    }
}

@media (max-width:768px) {

    .footer {

        font-size: 8px;
        left: 1rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 10px;

    }

    .footer--icons i {
        margin: 0 0.5rem;
    }

    .footer p {
        font-size: 8px;
    }
}

@media (max-width:640px) {

    .footer {

        font-size: 8px;
        left: -1rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 10px;

    }

    .footer--icons i {
        margin: 0 0.4rem;
    }

    .footer p {
        font-size: 8px;
    }
}

/* @media (min-width:375px) {
    .footer {
        left: -2.5rem;
    }

    .footer--icons {
        margin-bottom: 0.1rem;
        font-size: 8px;

    }

    .footer--icons i {
        margin: 0 0.3rem;
    }

    .footer p {
        font-size: 6px;
    }
} */