.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 8rem;
    position: absolute;
    font-size: 8px;
    padding: 5rem 0 1rem 0;

}

.header--middle--acc {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.header--middle--acc img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50px;
    box-shadow: 0.5px -0.5px 3px var(--color-secondary);
}

.header--middle--acc div {
    margin-top: 0.8rem;
    font-weight: 700;
}



.header--middle--add {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    align-items: center;
    justify-content: center;
}

.header--middle--add span {
    margin-top: 0px;
    font-weight: 600;
}


.order--plus span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem;
    font-size: 0.5rem;
    border-radius: 50%;
}

.arrowDownAnimation {
    animation: arrowDownAnimation 0.5s ease-out;
}

.arrowDown {
    transform: rotateZ(180deg);
}

.arrowUpAnimation {
    animation: arrowUpAnimation 0.5s ease-out;
}


.appear {
    animation: appear 0.5s ease;
}


@keyframes appear {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes arrowDownAnimation {
    0% {
        transform: rotateZ(0deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);

    }

    15% {
        transform: rotateZ(45deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    75% {
        transform: rotateZ(135deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes arrowUpAnimation {
    0% {
        transform: rotateZ(180deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);

    }

    15% {
        transform: rotateZ(135deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    75% {
        transform: rotateZ(45deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.header--btm {
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
    margin-top: 0.5rem;
    margin-left: 0;
    padding-bottom: 1rem;

}


.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
}


.order--plus {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 8px;
    font-weight: 700;
    margin-left: 0.2rem;
}


.button--title--parent {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 8px;
    margin-top: 0.6rem;
    width: 5.5rem;
    height: 1.2rem;
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0.4rem 0.4rem 2rem;

}


.header--icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0rem;
}


.header button i {
    margin-left: 0.3rem;
    font-size: 0.6rem;
}

.header button i:last-of-type {
    font-size: 0.7rem;
}

.header button i:first-of-type:focus,
.header button i:first-of-type:hover,
.header button i:first-of-type:active {
    color: rgb(255, 0, 0);
}

.header button i:last-of-type:hover,
.header button i:last-of-type:focus,
.header button i:last-of-type:active {
    color: rgb(0, 255, 106);
}

.header button:hover,
.header button:focus,
.header button:active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}



.header--middle--add .add-btn {
    background-color: var(--color-primary);
    box-shadow: 0.5px -0.5px 3px var(--color-secondary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    color: var(--color-secondary);
    margin-right: 0.5rem;
}

.header--middle--add .add-btn:hover,
.header--middle--add .add-btn:focus,
.header--middle--add .add-btn:active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


.header--middle {
    width: 100%;
}

.header .header--desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4rem;
    letter-spacing: 1px;
    margin: 0.5rem 0.5rem;
    font-size: 8px;
}


.header .header--desc p {
    margin-top: 0.2rem;
    font-size: 8px;
    text-indent: 0.5rem;
    width: 7rem;
}


.trash--del:hover {
    color: rgb(255, 0, 0) !important;
}

.button--title {
    width: 2rem;
    overflow: hidden;
    display: flex;
    margin-top: -3px;
}


.no--item {
    margin-top: 0.5rem;
}


@media (min-width:375px) {
    .arrow {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.09rem 0.1rem 0 0;
        padding: 0.2rem;
        font-size: 0.5rem;
    }

    .header {
        width: 8rem;
        padding: 4.5rem 0.5rem 1rem 0.5rem;

    }


    .header--btm {
        margin-top: 0.5rem;
    }

    .order--plus {
        font-weight: 500;
        font-size: 8px;
        margin-left: 0;
    }


    .button--title--parent {
        font-size: 8px;
        width: 4.5rem;
        margin: 0.2rem 0 0.2rem 0.9rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.5rem;
    }

    .header button i:first-of-type {
        font-size: 0.4rem;
    }

    .header--middle--add .add-btn {
        width: 1rem;
        height: 1rem;
        font-size: 0.6rem;
    }

    .header .header--desc {
        line-height: 1rem;
        margin: 1.5rem 0 1rem 0;
    }


    .header .header--desc p {
        margin-top: 0.5rem;
        width: 5rem;
    }
}

@media (min-width:640px) {
    .arrow {
        width: 1.3rem;
        height: 1.3rem;
        margin: 0.13rem 0.2rem 0 0;
        padding: 0.3rem;
        font-size: 0.6rem;
    }

    .header {
        width: 10rem;
        font-size: 12px;
        padding: 5rem 0 1rem 0.5rem;

    }


    .header--middle--acc {
        margin-bottom: 0;
        font-size: 10px;
    }

    .header--middle--acc img {
        height: 2.5rem;
        width: 2.5rem;
    }


    .header--middle--add {
        font-size: 9px;
    }

    .header--btm {
        margin-top: 1rem;
    }


    .order {
        margin-top: 0.5rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 9px;
    }


    .button--title--parent {
        font-size: 9px;
        margin-top: 0.5rem;
        width: 7rem;
        margin-right: 0.5rem;
        margin-left: 1.5rem;
    }

    .button--title--parent i {
        margin-left: 1rem;
    }

    .header button i:last-of-type {
        font-size: 0.7rem;
    }

    .header button i:first-of-type {
        font-size: 0.6rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.2rem;
        font-size: 0.4rem;
        width: 0.8rem;
        height: 0.8rem;
    }


    .header .header--desc {
        line-height: 1rem;
        margin: 1rem 1rem 3rem 0 !important;
    }

    .header .header--desc h4 {
        font-size: 10px;
    }


    .header .header--desc p {
        margin-top: 1rem;
        font-size: 10px;
        text-indent: 0.5rem;
        width: 7rem;
    }
}


@media (min-width:768px) {
    .arrow {
        width: 1.3rem;
        height: 1.3rem;
    }

    .header {
        width: 13rem;
        font-size: 12px;
        padding: 7rem 0 1rem 0.5rem;

    }


    .header--middle--acc {
        margin-bottom: 0.5rem;
        font-size: 10px;
    }

    .header--middle--acc img {
        height: 2.8rem;
        width: 2.8rem;
    }


    .header--middle--add {
        font-size: 10px;
    }

    .header--btm {
        margin-top: 0.8rem;
    }


    .order {
        margin-top: 1rem;
        font-size: 10px;
    }


    .order--plus {
        font-weight: 500;
        font-size: 10px;
    }


    .button--title {
        width: 4rem;
    }

    .button--title--parent {
        font-size: 10px;
        margin-top: 0.5rem;
        width: 8.5rem;
        margin-right: 0.5rem;
        margin-left: 2rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.7rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 14px;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.4rem;
        width: 0.8rem;
        height: 0.8rem;
    }


    .header .header--desc {
        line-height: 1.2rem;
        margin: 0.5rem 1rem 1rem 0 !important;
    }


    .header .header--desc p {
        margin-top: 1rem;
        text-indent: 0.7rem;
        width: 9rem;
    }
}

@media (min-width:1024px) {
    .arrow {
        margin: 0.1rem 0.3rem 0 0;
        font-size: 0.7rem;
    }

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 7.5rem 0 1rem 0.5rem;

    }


    .header--middle--acc {
        margin-bottom: 0.5rem;
    }

    .header--middle--acc img {
        height: 3rem;
        width: 3rem;
    }


    .header--middle--add {
        font-size: 10px;
    }

    .header--btm {
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 12px;
    }



    .button--title {
        width: 6rem;
    }

    .button--title--parent {
        font-size: 12px;
        margin-top: 0.5rem;
        width: 10rem;
        margin-right: 0.5rem;
        margin-left: 2rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.7rem;
    }

    .header--middle--add .add-btn {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1rem;
        margin-right: 0.7rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header--desc {
        line-height: 1.8rem;
        margin: -1rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 1rem;
        font-size: 10px;
    }
}

@media (min-width:1280px) {
    .arrow {
        margin: 0.1rem 0.3rem 0 0;
    }

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 8.5rem 0 1rem 0.5rem;

    }


    .header--middle--acc {
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .header--middle--acc img {
        height: 3.5rem;
        width: 3.5rem;
    }


    .header--middle--add {
        font-size: 12px;
    }

    .header--btm {
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 12px;
    }


    .button--title--parent {
        font-size: 12px;
        margin-top: 0.5rem;
        width: 9rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.7rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header .header--desc {
        line-height: 1.5rem;
        margin: 0rem 1rem 3rem 0 !important;
    }


    .header .header--desc h4 {
        font-size: 14px;
    }


    .header .header--desc p {
        margin-top: 0.8rem;
        font-size: 12px;
    }
}


@media (min-width:1536px) {


    .arrow {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.2rem 0.3rem 0 0;
        padding: 0.4rem;
        font-size: 0.8rem;
    }

    .header {
        width: 14rem;
        font-size: 12px;
        padding: 9.5rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 1.5rem;
    }

    .header--middle--acc img {
        height: 3.5rem;
        width: 3.5rem;
    }


    .header--middle--add {
        font-size: 14px;
    }

    .header--btm {
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 14px;
    }



    .button--title {
        width: 5rem;
    }

    .button--title--parent {
        font-size: 13px;
        margin-top: 0.5rem;
        width: 10rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 1rem;
    }

    .header button i:last-of-type {
        font-size: 1rem;
    }

    .header button i:first-of-type {
        font-size: 0.8rem;
    }

    .header--middle--add .add-btn {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        margin-right: 0.8rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header .header--desc {
        line-height: 1.8rem;
        margin: 0 0.5rem 3rem 0.5rem !important;
    }


    .header .header--desc p {
        margin-top: 1rem;
        font-size: 12px;
    }
}