.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 14rem;
    background-color: var(--color-accent);
    position: fixed;
    font-size: 12px;
    padding: 7rem 0 1rem 1rem;
    height: 102vh;

}



.header--middle {
    height: 34rem;
    width: 100%;
}


.header--middle--acc {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header--middle--acc img {
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    box-shadow: 1px 1px 5px var(--color-secondary);
}

.header--middle--acc div {
    margin-top: 10px;
    font-weight: 700;
}



.header--middle--add {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.header--middle--add span {
    margin-top: 0px;
    font-weight: 600;
}


.order--plus span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem;
    font-size: 0.5rem;
    border-radius: 50%;
}

.arrowDownAnimation {
    animation: arrowDownAnimation 0.5s ease-out;
}

.arrowDown {
    transform: rotateZ(180deg);
}

.arrowUpAnimation {
    animation: arrowUpAnimation 0.5s ease-out;
}


.appear {
    animation: appear 0.5s ease;
}


@keyframes appear {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes arrowDownAnimation {
    0% {
        transform: rotateZ(0deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);

    }

    15% {
        transform: rotateZ(45deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    75% {
        transform: rotateZ(135deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes arrowUpAnimation {
    0% {
        transform: rotateZ(180deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);

    }

    15% {
        transform: rotateZ(135deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    75% {
        transform: rotateZ(45deg);
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.header--btm {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 1rem;
    height: 5rem;
    margin-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 1rem;

}


.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
}


.order--plus {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    margin-left: 0.2rem;
}


.button--title--parent {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
    margin-top: 0.6rem;
    width: 7rem;
    height: 1.2rem;
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0.4rem 0.6rem 2rem;

}


.header--icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2rem;
}


.header button i {
    margin-left: 0.3rem;
    font-size: 0.8rem;
}

.header button i:last-of-type {
    font-size: 0.9rem;
}

.header button i:first-of-type:hover {
    color: rgb(255, 0, 0);
}

.header button i:last-of-type:hover {
    color: rgb(0, 255, 106);
}

.header button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}



.header--middle--add .add-btn {
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px var(--color-secondary);
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1rem;
    color: var(--color-secondary);
    margin-right: 0.5rem;
}

.header--middle--add .add-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.order--plus button {
    background-color: transparent;
    box-shadow: 1px 1px 5px var(--color-secondary);
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 0.6rem;
    padding: 0;
    border: none;

}


.header--desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin: 3rem 2rem 3rem 2rem;
}


.header--desc p {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}


.trash--del:hover {
    color: rgb(255, 0, 0) !important;
}

.button--title {
    width: 2rem;
    overflow: hidden;
    display: flex;
    margin-top: -3px;
}


.no--item {
    margin-top: 0.5rem;
}

@media (max-width:1536px) {

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 8.5rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 0.5rem;
    }

    .header--middle--acc img {
        height: 3rem;
        width: 3rem;
    }


    .header--middle--add {
        font-size: 8px;
    }

    .header--btm {
        height: 34rem;
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 12px;
    }


    .button--title--parent {
        font-size: 12px;
        margin-top: 0.5rem;
        width: 9rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.8rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header--desc {
        line-height: 1.8rem;
        margin: 2rem 1rem 3rem 1rem !important;
    }


    .header--desc p {
        margin-top: 1rem;
        font-size: 12px;
    }
}

@media (max-width:1280px) {

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 8.5rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .header--middle--acc img {
        height: 3.5rem;
        width: 3.5rem;
    }


    .header--middle--add {
        font-size: 12px;
    }

    .header--btm {
        height: 21.5rem;
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 12px;
    }


    .button--title--parent {
        font-size: 12px;
        margin-top: 0.5rem;
        width: 9rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.8rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header--desc {
        line-height: 1.8rem;
        margin: 1rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 1rem;
        font-size: 10px;
    }
}

@media (max-width:1024px) {

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 8.5rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 0.5rem;
    }

    .header--middle--acc img {
        height: 3rem;
        width: 3rem;
    }


    .header--middle--add {
        font-size: 8px;
    }

    .header--btm {
        height: 19.5rem;
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 12px;
    }


    .button--title--parent {
        font-size: 12px;
        margin-top: 0.5rem;
        width: 9rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.8rem;
    }

    .header button i:first-of-type {
        font-size: 0.8rem;
    }

    .header--middle--add .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.7rem;
        width: 1rem;
        height: 1rem;
    }


    .header--desc {
        line-height: 1.8rem;
        margin: -1rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 1rem;
        font-size: 10px;
    }
}

@media (max-width:768px) {

    .header {
        width: 14rem;
        font-size: 10px;
        padding: 7rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 0.5rem;
        font-size: 10px;
    }

    .header--middle--acc img {
        height: 2.5rem;
        width: 2.5rem;
    }


    .header--middle--add {
        font-size: 8px;
    }

    .header--btm {
        height: 22rem;
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 1rem;
        font-size: 8px;
    }


    .order--plus {
        font-weight: 500;
        font-size: 8px;
    }


    .button--title--parent {
        font-size: 10px;
        margin-top: 0.5rem;
        width: 8rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.7rem;
    }

    .header button i:first-of-type {
        font-size: 0.7rem;
    }

    .header--middle--add .add-btn {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.8rem;
        margin-right: 0.3rem;
    }

    .order--plus button {
        margin-right: 0.4rem;
        font-size: 0.4rem;
        width: 0.8rem;
        height: 0.8rem;
    }


    .header--desc {
        line-height: 1.2rem;
        margin: 1.5rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 1rem;
    }
}

@media (max-width:640px) {

    .header {
        width: 10rem;
        font-size: 8px;
        padding: 6rem 0 1rem 1rem;

    }


    .header--middle--acc {
        margin-bottom: 0;
        font-size: 8px;
    }

    .header--middle--acc img {
        height: 2rem;
        width: 2rem;
    }


    .header--middle--add {
        font-size: 8px;
    }

    .header--btm {
        height: 24rem;
        margin-top: 0.5rem;
    }


    .order {
        margin-top: 0.5rem;
    }


    .order--plus {
        font-weight: 500;
        font-size: 8px;
    }


    .button--title--parent {
        font-size: 8px;
        margin-top: 0.5rem;
        width: 6rem;
        margin-right: 0.5rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.7rem;
    }

    .header button i:first-of-type {
        font-size: 0.7rem;
    }

    .header--middle--add .add-btn {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.8rem;
        margin-right: 0.3rem;
    }

    .header--middle--add .add-btn:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    .order--plus button {
        margin-right: 0.2rem;
        font-size: 0.4rem;
        width: 0.8rem;
        height: 0.8rem;
    }


    .header--desc {
        line-height: 1rem;
        margin: 2.5rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 0.5rem;
    }
}

/* @media (min-width:375px) {

    .header {
        width: 7rem;
        padding: 4.5rem 1rem 1rem 1rem;

    }


    .header--btm {
        height: 27rem;
        margin-top: 0.5rem;
    }

    .order--plus {
        font-weight: 500;
        font-size: 8px;
        margin-left: 0;
    }


    .button--title--parent {
        font-size: 8px;
        width: 4.5rem;
        margin: 0.2rem 0 0.2rem 0.9rem;
    }

    .button--title--parent i {
        margin-left: 0.8rem;
    }

    .header button i:last-of-type {
        font-size: 0.5rem;
    }

    .header button i:first-of-type {
        font-size: 0.5rem;
    }

    .header--middle--add .add-btn {
        width: 1rem;
        height: 1rem;
        font-size: 0.6rem;
    }

    .header--desc {
        line-height: 1rem;
        margin: 2.5rem 1rem 3rem 0 !important;
    }


    .header--desc p {
        margin-top: 0.5rem;
    }
} */