.nav {
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.8rem 0 0 8.5rem;
    font-family: "Playfair Display", serif;
}



@media (min-width:375px) {
    .nav {
        height: 2rem;
        justify-content: center;
        margin: 1.8rem 0 0 8.5rem;
    }
}


@media (min-width:640px) {
    .nav {
        margin-left: 12rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width:768px) {
    .nav {
        margin-left: 16rem;
        margin-bottom: 2.5rem;
        margin-top: 2.2rem;
    }
}


@media (min-width:1024px) {
    .nav {
        margin-left: 32rem;
        margin-bottom: 1.8rem;
        margin-top: 2.5rem;
    }
}


@media (min-width:1280px) {
    .nav {
        margin-left: 40rem;
        margin-bottom: 1.5rem;
        margin-top: 3.5rem;
    }
}

@media (min-width:1536px) {
    .nav {
        margin-left: 46rem;
        margin-bottom: 3.5rem;
        margin-top: 3.5rem;

    }
}