.navigation {
    width: 10rem;
    height: 14rem;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px var(--color-secondary);
    color: var(--color-secondary);
    position: absolute;
    z-index: 100;
    top: 5.5rem;
    right: 12.6rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.nav--links {
    text-decoration: none;
    color: var(--color-secondary);
    margin: 0;
    cursor: pointer;
    width: 10rem;
    padding: 0.9rem;
    text-decoration: none;
    font-size: 12px;
}


.nav--links:not(:last-of-type) {
    border-bottom: 1px solid var(--color-secondary);
}


.nav--links:hover {
    text-shadow: 1px 1px 1px var(--color-secondary);
}

@media (max-width:1020px) {
    .navigation {
        font-size: 12px;
        width: 8rem;
        height: 12.5rem;
    }

    .nav--links {
        width: 8rem;
        padding: 0.7rem;
    }
}

@media (max-width:890px) {
    .navigation {
        left: 35rem;
    }

}

@media (max-width:850px) {
    .navigation {
        left: 32rem;
    }

}


@media (max-width:700px) {


    .navigation {
        left: 23rem;
    }

}