.navigation {
    color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
}

.nav--links {
    text-decoration: none;
    color: var(--color-secondary);
    margin: 0;
    cursor: pointer;
    padding: 0 0.5rem 0 0;
    font-size: 8px;
}


.nav--links:hover {
    text-shadow: 1px 1px 1px var(--color-secondary);
}

.nav--links:focus {
    text-shadow: 1px 1px 1px var(--color-secondary);
}


@media (min-width:375px) {
    .nav--links {
        padding: 0.3rem;
        font-size: 7px;
    }
}


@media (min-width:640px) {

    .nav--links {
        padding: 0.5rem;
        font-size: 10px;
    }
}

@media (min-width:768px) {
    .navigation {
        width: 40rem;
    }

    .nav--links {
        padding: 0.5rem;
        font-size: 12px;
        margin-left: 1.5rem;
    }
}


@media (min-width:1024px) {
    .navigation {
        width: 50rem;
    }

    .nav--links {
        padding: 0 0.5rem;
        font-size: 12px;
        margin-left: 1.5rem;
    }
}


@media (min-width:1280px) {

    .nav--links {
        font-size: 14px;
        padding: 1rem;
    }
}

@media (min-width:1536px) {

    .nav--links {
        padding: 1.2rem;
        font-size: 16px;
    }
}