* {
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color-primary: #FAFAF9;
  --color-secondary: #0c0a09;
  --color-accent: #a8a29e12;
}

body {
  margin: 0;
  background-image: url(bglight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--color-primary);
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
}

.app button,
.app input,
.app textarea {
  font-family: "Playfair Display", serif;
}

.dark {
  background-image: url(bgdark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  --color-primary: #042F2E;
  --color-secondary: #f0fdfa;
  --color-accent: #f0fdfa4f;
  color: #fff;
}


body .dark {
  background-color: var(--color-primary);
}

.dark button,
.dark input,
.dark textarea,
.dark ::placeholder {

  color: #ffffff;
}


.banner--img {
  height: 3rem;
  width: 6rem;
}


.autolayout {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 3rem;
}