* {
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color-primary: #FAFAF9;
  --color-secondary: #0c0a09;
  --color-accent: #a8a29e12;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  background-image: url(bglight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-family: "Playfair Display", serif;
}

.app button,
.app input,
.app textarea {
  font-family: "Playfair Display", serif;
}


.app input {
  font-family: "Playfair Display", serif;
}


.dark {
  background-image: url(bgdark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  --color-primary: #042F2E;
  --color-secondary: #f0fdfa;
  --color-accent: #f0fdfa4f;
  color: #fff;
}


.dark button,
.dark input,
.dark textarea,
.dark ::placeholder {

  color: #ffffff;
}



@media (max-width:1285px) {

  .app {
    background-size: contain;
  }
}