* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;

}

:root {
  --color-primary: #fff;
  --color-secondary: #0c0a09;
  --color-accent: #fafaf9;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
}

.app button,
.app input,
.app textarea {
  font-family: "Playfair Display", serif;
}

.dark {
  --color-primary: #09090b;
  --color-secondary: #fff;
  --color-accent: #52525b;
  color: #fff;
}


body .dark {
  background-color: var(--color-primary);
}

.dark button,
.dark input,
.dark textarea,
.dark ::placeholder {

  color: #ffffff;
}


.banner--img {
  height: 2rem;
  width: 4rem;
  position: fixed;
  top: 2.2rem;
  left: 1.8rem;
}


@media (min-width:375px) {
  .banner--img {

    top: 2rem;
    left: 1.5rem;


  }
}

@media (min-width:640px) {

  .banner--img {
    height: 2.5rem;
    width: 4rem;
    top: 2rem;
    left: 3rem;


  }
}

@media (min-width:768px) {

  .banner--img {
    height: 3rem;
    width: 5rem;
    top: 2.5rem;
    left: 4rem;
  }
}

@media (min-width:1024px) {

  .banner--img {
    height: 3rem;
    width: 5rem;
    top: 2.8rem;
    left: 4.5rem;
  }
}

@media (min-width:1280px) {

  .banner--img {
    height: 5rem;
    width: 7rem;
    top: 3rem;
    left: 3rem;
  }
}

@media (min-width:1536px) {

  .banner--img {
    height: 5rem;
    width: 8rem;
    top: 3rem;
    left: 3rem;

  }
}